* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1B1B1E;
    color: whitesmoke;
}

body {
    background-color: #1B1B1E;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: white;
}



/* All CSS related to the user query */

#queryList {
    list-style-type: none;
    padding: 0;
    width: auto;
    margin: 0 auto;
}

.userList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#queryList li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 12px;
    text-align: center;
    font-size: 18px;
}

#queryList li:hover {
    background-color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}





/* All CSS related temp html stuff */

.mainPicture {
    display: flex;
    justify-content: center;
    height: 40rem;
    background-color: #1B1B1E;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainHeaderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.mainInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35rem;
}

.biggerInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55rem;
    background-color: #EEF4ED;
}

.smallerInfoBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    background-color: #6D676E;
}





/* All CSS related to modals */

.modal {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #07070799;
    z-index: 2;
}

.modalButton {
    display: flex;
    position: fixed;
    top: 5rem;
    right: 2.5rem;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 3rem;
    background-color: #1B1B1E;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 1rem;
}

.modalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 30rem;
    background-color: #282828;
    border-radius: 5px;
    margin: 1rem;

}

.hidden {
    display: none;
}






/* All CSS related to footer content */
